<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
<title>Activate Account</title>
</head>
<body>
	<div class="container">
		<form th:action="@{/activate}" th:object="${details}" method="post">
			<div class="form-group">
				<label for="exampleInputEmail1">CIN</label> <input
					type="text" class="form-control" id="input-cin" th:field="*{cin}"
					name="cin"
					placeholder="Enter CIN"> 
			</div>
			<div class="form-group">
				<label for="exampleInputEmail1">CNE</label> <input th:field="*{cne}"
				 class="form-control" id="input-cne"
				 name="cne"
					placeholder="Enter CNE">
			</div>
			
			<button type="submit" class="btn btn-primary">Submit</button>
		</form>
	</div>

</body>
</html>